body {margin: 0;}
a:link{	color: black; }
nav.otherPage {
	height: 8vh;
	width: 100vw;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

nav div{ width: 140px; }
#HomePage{ flex-shrink: 2; }
#Intro{flex-shrink: 2;}
#Board{flex-shrink:1;}

footer{
 	height: 40px;
 	background-color: black;
 	color:white;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 div.Main_Container{
 	min-height: 92vh;
 	background-color: #cee9ff;
 	display: flex;
 	flex-direction: column;
 	justify-content: flex-start;
 	align-items: center;
 }

table
{
	empty-cells: hide;
	border-spacing: 0px;
	background-color: aliceblue;
}
td
{
	padding: 10px;
	border:1px solid #10375285;
}
td.THEAD
{
	font-weight: 600;
}